{% extends "base.html" %}
{% load static %}

{% block title %} {{ block.super }} {{ user.username }} {% endblock title %}

{% block content %}
<div id="posts-user">

  <h1 id='username-id'>{{ object.username }}</h1>
  <!--  My css for user profile -->
  <link rel="stylesheet" type="text/css" href="{% static '/accounts/css/user-profile.css' %}" />
  <!--  My jQuery for user's profile -->
  <script type="text/javascript" src="{% static "/accounts/js/user-profile.js" %}"></script>
</div>
{% endblock content %}
