<h1>{{ object.username }}</h1>
<p>Followers: {{ object.followed_by.count }}</p>

<h2>Posts</h2>
{% for post in object.post_set.all %}
  {{ post }}<br><hr>
{% endfor %}

<h2>Following ({{ object.profile.get_following.count }}) </h2>
<p>
  <a href="{{ object.profile.get_follow_url }}">
    <b>{% if following %}Unfollow{% else %}Follow{% endif %}</b>
  </a>
</p>
{% for user in object.profile.get_following %}
  <a href="/profiles/{{ user.username }}">{{ user.username }}</a><br><hr>
{% empty %}
<h4>Not following any users</h4>
{% endfor %}

<h2>Followed By ({{ object.followed_by.all.count }})</h2>
{% for profile in object.followed_by.all %}
  <a href="/profiles/{{ profile.user.username }}">
    {{ profile.user.username }}
  </a>
  <br><hr>
{% empty %}
<h4>Not followed by any users</h4>
{% endfor %}
