{% extends "base.html" %}
{% load static %}

{% block title %} {{ block.super }} {{ post.title }} {% endblock title %}

{% block content %}
<!--  Must be replaced with an ajax call -->
<div id="post-container">

  <h4><a href="/profiles/{{ post.user.username }}/">{{post.user.username}}</a>
    {% if post.title %} | {{ post.title }} {% endif %}
  </h4>
  {{ post.content }}

  <!--  My css for posts list -->
  <link rel="stylesheet" type="text/css" href="{% static '/posts/css/post-style.css' %}" />

</div>


{% endblock content %}
