{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to access your account.</p>
    {% endif %}
{% endif %}

<div>
  {% include "posts/generic_form.html" with form=form button_title='Login' %}
  <input type="hidden" name="next" value="{{ next }}" />
  <p>Not a member yet ?! Register <a href="{% url 'register' %}">here</a>.</p>
</div>
